In [3]:
import pandas as pd

In [4]:
df = pd.read_csv('../data/imdb5000.csv')

In [5]:
df.head()

,color,director_name,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_2_name,actor_1_facebook_likes,gross,genres,...,num_user_for_reviews,language,country,content_rating,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
0,Color,James Cameron,723.0,178.0,0.0,855.0,Joel David Moore,1000.0,760505847.0,Action|Adventure|Fantasy|Sci-Fi,...,3054.0,English,USA,PG-13,237000000.0,2009.0,936.0,7.9,1.78,33000
1,Color,Gore Verbinski,302.0,169.0,563.0,1000.0,Orlando Bloom,40000.0,309404152.0,Action|Adventure|Fantasy,...,1238.0,English,USA,PG-13,300000000.0,2007.0,5000.0,7.1,2.35,0
2,Color,Sam Mendes,602.0,148.0,0.0,161.0,Rory Kinnear,11000.0,200074175.0,Action|Adventure|Thriller,...,994.0,English,UK,PG-13,245000000.0,2015.0,393.0,6.8,2.35,85000
3,Color,Christopher Nolan,813.0,164.0,22000.0,23000.0,Christian Bale,27000.0,448130642.0,Action|Thriller,...,2701.0,English,USA,PG-13,250000000.0,2012.0,23000.0,8.5,2.35,164000
4,NaN,Doug Walker,NaN,NaN,131.0,NaN,Rob Walker,131.0,NaN,Documentary,...,NaN,NaN,NaN,NaN,NaN,NaN,12.0,7.1,NaN,0

In [6]:
df.describe()

,num_critic_for_reviews,duration,director_facebook_likes,actor_3_facebook_likes,actor_1_facebook_likes,gross,num_voted_users,cast_total_facebook_likes,facenumber_in_poster,num_user_for_reviews,budget,title_year,actor_2_facebook_likes,imdb_score,aspect_ratio,movie_facebook_likes
count,4993.000000,5028.000000,4939.000000,5020.000000,5036.000000,4.159000e+03,5.043000e+03,5043.000000,5030.000000,5022.000000,4.551000e+03,4935.000000,5030.000000,5043.000000,4714.000000,5043.000000
mean,140.194272,107.201074,686.509212,645.009761,6560.047061,4.846841e+07,8.366816e+04,9699.063851,1.371173,272.770808,3.975262e+07,2002.470517,1651.754473,6.442138,2.220403,7525.964505
std,121.601675,25.197441,2813.328607,1665.041728,15020.759120,6.845299e+07,1.384853e+05,18163.799124,2.013576,377.982886,2.061149e+08,12.474599,4042.438863,1.125116,1.385113,19320.445110
min,1.000000,7.000000,0.000000,0.000000,0.000000,1.620000e+02,5.000000e+00,0.000000,0.000000,1.000000,2.180000e+02,1916.000000,0.000000,1.600000,1.180000,0.000000
25%,50.000000,93.000000,7.000000,133.000000,614.000000,5.340988e+06,8.593500e+03,1411.000000,0.000000,65.000000,6.000000e+06,1999.000000,281.000000,5.800000,1.850000,0.000000
50%,110.000000,103.000000,49.000000,371.500000,988.000000,2.551750e+07,3.435900e+04,3090.000000,1.000000,156.000000,2.000000e+07,2005.000000,595.000000,6.600000,2.350000,166.000000
75%,195.000000,118.000000,194.500000,636.000000,11000.000000,6.230944e+07,9.630900e+04,13756.500000,2.000000,326.000000,4.500000e+07,2011.000000,918.000000,7.200000,2.350000,3000.000000
max,813.000000,511.000000,23000.000000,23000.000000,640000.000000,7.605058e+08,1.689764e+06,656730.000000,43.000000,5060.000000,1.221550e+10,2016.000000,137000.000000,9.500000,16.000000,349000.000000

In [7]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 5043 entries, 0 to 5042
Data columns (total 28 columns):
color                        5024 non-null object
director_name                4939 non-null object
num_critic_for_reviews       4993 non-null float64
duration                     5028 non-null float64
director_facebook_likes      4939 non-null float64
actor_3_facebook_likes       5020 non-null float64
actor_2_name                 5030 non-null object
actor_1_facebook_likes       5036 non-null float64
gross                        4159 non-null float64
genres                       5043 non-null object
actor_1_name                 5036 non-null object
movie_title                  5043 non-null object
num_voted_users              5043 non-null int64
cast_total_facebook_likes    5043 non-null int64
actor_3_name                 5020 non-null object
facenumber_in_poster         5030 non-null float64
plot_keywords                4890 non-null object
movie_imdb_link              5043 non-null object
num_user_for_reviews         5022 non-null float64
language                     5031 non-null object
country                      5038 non-null object
content_rating               4740 non-null object
budget                       4551 non-null float64
title_year                   4935 non-null float64
actor_2_facebook_likes       5030 non-null float64
imdb_score                   5043 non-null float64
aspect_ratio                 4714 non-null float64
movie_facebook_likes         5043 non-null int64
dtypes: float64(13), int64(3), object(12)
memory usage: 1.1+ MB

In [10]:
avatar = df.iloc[1]
avatar

color                                                                    Color
director_name                                                   Gore Verbinski
num_critic_for_reviews                                                     302
duration                                                                   169
director_facebook_likes                                                    563
actor_3_facebook_likes                                                    1000
actor_2_name                                                     Orlando Bloom
actor_1_facebook_likes                                                   40000
gross                                                              3.09404e+08
genres                                                Action|Adventure|Fantasy
actor_1_name                                                       Johnny Depp
movie_title                          Pirates of the Caribbean: At World's EndÂ
num_voted_users                                                         471220
cast_total_facebook_likes                                                48350
actor_3_name                                                    Jack Davenport
facenumber_in_poster                                                         0
plot_keywords                goddess|marriage ceremony|marriage proposal|pi...
movie_imdb_link              http://www.imdb.com/title/tt0449088/?ref_=fn_t...
num_user_for_reviews                                                      1238
language                                                               English
country                                                                    USA
content_rating                                                           PG-13
budget                                                                   3e+08
title_year                                                                2007
actor_2_facebook_likes                                                    5000
imdb_score                                                                 7.1
aspect_ratio                                                              2.35
movie_facebook_likes                                                         0
Name: 1, dtype: object

In [12]:
type(avatar['movie_imdb_link'])

str

In [15]:
directors_df = df[['director_name', 'movie_title']]
directors_df.head()

       director_name                                        movie_title
0      James Cameron                                            AvatarÂ
1     Gore Verbinski          Pirates of the Caribbean: At World's EndÂ
2         Sam Mendes                                           SpectreÂ
3  Christopher Nolan                             The Dark Knight RisesÂ
4        Doug Walker  Star Wars: Episode VII - The Force AwakensÂ    ...

In [20]:
directors_df = directors_df.groupby('director_name').agg(lambda x: [].append(x)).reset_index()

                 director_name movie_title
0                A. Raven Cruz        None
1                   Aaron Hann        None
2              Aaron Schneider        None
3                Aaron Seltzer        None
4                 Abel Ferrara        None
5                  Adam Brooks        None
6                 Adam Carolla        None
7                Adam Goldberg        None
8                   Adam Green        None
9             Adam Jay Epstein        None
10                 Adam Marcus        None
11                  Adam McKay        None
12                   Adam Rapp        None
13                 Adam Rifkin        None
14               Adam Shankman        None
15                 Adrian Lyne        None
16             Adrienne Shelly        None
17           Agnieszka Holland        None
18  Agnieszka Wojtowicz-Vosloo        None
19          AgustÃ­n DÃ­az Yanes        None
20              Aki KaurismÃ¤ki        None
21              Akira Kurosawa        None
22              Akiva Goldsman        None
23              Akiva Schaffer        None
24                 Al Franklin        None
25             Al Silliman Jr.        None
26               Alain Resnais        None
27                   Alan Alda        None
28                   Alan Cohn        None
29              Alan J. Pakula        None
30                 Alan Jacobs        None
31                 Alan Metter        None
32                 Alan Parker        None
33                   Alan Poul        None
34                Alan Rudolph        None
35                Alan Shapiro        None
36                 Alan Taylor        None
37                   Alan Yuen        None
38               Albert Brooks        None
39               Albert Hughes        None
40                  Alec Asten        None
41           Alejandro Agresti        None
42          Alejandro AmenÃ¡bar        None
43       Alejandro G. IÃ±Ã¡rritu        None
44        Alejandro Monteverde        None
45       Aleksandr Veledinskiy        None
46              Aleksey German        None
47          Alessandro Carloni        None
48                    Alex Cox        None
49             Alex Craig Mann        None